<!--Arrows-->
<section class="arrows_box arrows_no_border">
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="features_2_arrow_next">
            <use xlink:href="#right-arrow"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="features_2_arrow_back">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Features 3 ####################-->
<!--###############################-->

<section id="features_3">
    <div class="container">
        <div class="row" id="features_3_intro">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <h2>Awesome Features</h2>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_left">

                <div class="feature">
                    <h4>Awesome Features</h4>

                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic
                        ad nauseum.
                    </p>
                </div>

                <div class="feature">
                    <h4>Awesome Features</h4>

                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic
                        ad nauseum.
                    </p>
                </div>

            </div>

            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_center">
                <img src="/media/images/features3.png" class="img-responsive" id="features3_image" alt="img">
            </div>

            <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_right">

                <div class="feature">
                    <h4>Awesome Features</h4>

                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic
                        ad nauseum.
                    </p>
                </div>

                <div class="feature">
                    <h4>Awesome Features</h4>

                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic
                        ad nauseum.
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>


