<section class="arrows_box">
    <!--Arrows-->
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="features_1_arrow_next">
            <use xlink:href="#right-arrow"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="features_1_arrow_back">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Features 2 ####################-->
<!--###############################-->

<section id="features_2">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6" id="features_2_content">
                <h2>All you want from an app</h2>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>

                <div class="feature">
                    <svg viewBox="0 0 32 32" class="feature_icon">
                        <use xlink:href="#ribbon"></use>
                    </svg>
                    <div>
                        <h4>Video background</h4>

                        <p>Epsum factorial non deposit quid pro quo<br>hic escorol.</p>
                    </div>
                </div>

                <div class="feature">
                    <svg viewBox="0 0 32 32" class="feature_icon">
                        <use xlink:href="#rotate"></use>
                    </svg>
                    <div>
                        <h4>Cool animations</h4>

                        <p>Epsum factorial non depositquid pro quo<br>hic escorol.</p>
                    </div>
                </div>

            </div>


            <div class="col-sm-6 col-md-6  col-lg-6">
                <img src="/media/images/features2b.png" class="img-responsive image_back" id="features2a_image"
                     alt="img">
                <img src="/media/images/features2a.png" class="img-responsive image_front" id="features2b_image"
                     alt="img">
            </div>

        </div>

    </div>

</section>


