<!--Arrows-->
<section class="arrows_box">
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="about_arrow_next">
            <use xlink:href="#right-arrow"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="about_arrow_back">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Features 1 ####################-->
<!--###############################-->

<section id="features_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6  col-lg-6">
                <img src="/media/images/features1b.png" class="img-responsive image_back" id="features1a_image"
                     alt="img">
                <img src="/media/images/features1a.png" class="img-responsive image_front" id="features1b_image"
                     alt="img">
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6" id="features_1_content">
                <h2>Detailed documentation</h2>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>

                <div class="feature">
                    <svg viewBox="0 0 32 32" class="feature_icon">
                        <use xlink:href="#graph-pie1"></use>
                    </svg>
                    <div>
                        <h4>Beautiful, modern design</h4>

                        <p>Epsum factorial non deposit quid pro quo<br>hic escorol.</p>
                    </div>
                </div>

                <div class="feature">
                    <svg viewBox="0 0 32 32" class="feature_icon">
                        <use xlink:href="#joystick"></use>
                    </svg>
                    <div>
                        <h4>Easy to set up</h4>

                        <p>Epsum factorial non depositquid pro quo<br>hic escorol.</p>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>

