<!--Arrows - single arrow wersion-->
<section class="arrows_box">
    <div class="arrow_single">
        <svg viewBox="0 0 32 32" class="arrow_up" id="dev_blog_arrow_back">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Newsletter and Footer #########-->
<!--###############################-->

<section id="discounts">
    <div class="container">
        <div class="row" id="newsletter">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                <h2>Скидки</h2>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>


            </div>
        </div>

    </div>
</section>
