<!--Arrows - version with custom background color to match section above-->
<section class="arrows_box arrows_box_bg arrows_no_border">
    <div class="arrows">
        <svg viewBox="0 0 32 32" class="arrow_down" id="features_3_arrow_next">
            <use xlink:href="#right-arrow"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="arrow_up" id="features_3_arrow_back">
            <use xlink:href="#left-arrow"></use>
        </svg>
    </div>
</section>
<!--######-->


<!--###############################-->
<!--Gallery #######################-->
<!--###############################-->

<section id="guide">
    <div class="container">
        <div class="row" id="gallery_intro">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                <h2>Организаторы</h2>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>

            </div>

            <div class="col-sm-6 col-md-6 col-lg-6">

                <img class="foto" src="/media/images/I9421cGE6rE.jpg" alt="" data-toggle="modal" data-target="#guideModal">
                <h3>Индубхава</h3>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>

                <!-- Modal link -->
                <a href="#" class="" data-toggle="modal" data-target="#guideModal">
                    Подробней
                </a>

                <!-- Modal -->
                <div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="guideModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="guideModalLabel">КАТМАНДУ</h4>
                            </div>
                            <div class="modal-body">
                                Окруженный зелеными холмами и заснеженными вершинами, Катманду обладает удивительно
                                богатым архитектурным наследием. Один из самых удивительных городов мира насчитывает
                                пять объектов Всемирного наследия ЮНЕСКО, сочетающих в себе смесь индуизма и
                                <img src="/media/images/I9421cGE6rE.jpg" alt="" style="width: 100px">
                                <iframe width="320" height="180" src="https://www.youtube.com/embed/hG6T8ZnJl_M" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">

                <img class="foto"  src="/media/images/I9421cGE6rE.jpg" alt="">
                <h3>Индубхава</h3>

                <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
                    nauseum.
                </p>

            </div>
        </div>


    </div>
</section>

