<!--###############################-->
<!--ABOUT #########################-->
<!--###############################-->

<section id="about">
    <div class="container">

        <div class="row" id="about_intro">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

                <h2>О туре</h2>
                {#                    <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.#}
                {#                    </p>#}

            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12" id="service_1">
                <img src="/media/images/intrarea_in_templul_swayambhunath-750x502.jpg" style="width: 640px" alt="">

                <h3>КАТМАНДУ</h3>

                <p>Окруженный зелеными холмами и заснеженными вершинами, Катманду обладает удивительно богатым
                    архитектурным наследием. Один из самых удивительных городов мира насчитывает пять объектов
                    Всемирного наследия ЮНЕСКО, сочетающих в себе смесь индуизма и […]
                </p>
                <!-- Modal link -->
                <a href="#" class="" data-toggle="modal" data-target="#myModal">
                    Подробней
                </a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">КАТМАНДУ</h4>
                            </div>
                            <div class="modal-body">
                                Окруженный зелеными холмами и заснеженными вершинами, Катманду обладает удивительно
                                богатым архитектурным наследием. Один из самых удивительных городов мира насчитывает
                                пять объектов Всемирного наследия ЮНЕСКО, сочетающих в себе смесь индуизма и
                                <iframe width="320" height="180" src="https://www.youtube.com/embed/hG6T8ZnJl_M" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


